
  <div class="jumbotron jumbotron-fluid" >
    <div class="container">
      <h1 class="display-4">こんにちは!</h1>
      <p class="lead">Coachingは、あなたのニーズに合わせてコーチングを提供します。</p>
      <a class="btn btn-outline-primary btn-lg" href="#" role="button">新規登録</a>
    </div>
  </div>
  <div class="container">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" alt="カードの画像" src="...">
  <div class="card-body">
    <h5 class="card-title">カードのタイトル</h5>
    <p class="card-text">カードのタイトルに基づいて、カードのコンテンツの大部分を占める簡単なサンプルテキスト。</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">リスト1</li>
    <li class="list-group-item">リスト2</li>
    <li class="list-group-item">リスト3</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">リンク1</a>
    <a href="#" class="card-link">リンク2</a>
  </div>
</div>
  </div><!-- /.container -->