<div class="container-fluid" >
    <div class="row" >
    <% @user.each do |user| %>
      <div class="col">
      <div class="card">
        <div class="card-img-top circle-avatar"><%= image_tag user_image(user) %></div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to user.name, "/users/#{user.id}" %></h5>
          <p class="card-text">ここにコーチングの内容を軽く説明する文章</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">値段</li>
          <li class="list-group-item">期間</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">詳細ページ</a>
        </div>
      </div>
      </div>
      <% end %>
    </div>
</div>