<div class="container bg-card">
  <div class="d-flex flex-column">
    <div class="p-2 circle-avatar text-center">
      <%= image_tag user_image(@post.user) %>
      <span class="h2"><%= @post.user.name %></span>
    </div>
    <div class="p-2 bg-light h2 text-center"><%= @post.title %></div>
    <div class="p-2 flex-grow-1">Flexアイテム3</div>
  </div>
</div>