// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.pagination {
  text-align: center;
  display: inline-flex;
}

.body{
  padding-top: 54px;
}

.jumbotron{
  background-image: image-url("chalkboard-green-pattern-01.jpg");
  background-size: cover;
  background-position: center 60%;
  color: FFF;
}

.circle-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 70%;
}

.card-img-top {
  padding-top:  10px;
}

.avatar{
  width: 180px;
  height: 180px;
  border-radius: 70%;
}

.avatar-sm{
  width: 120px;
  height: 120px;
  border-radius: 70%;
}

.bg {
  background-image: image-url("03-light-carpet.png");
}

.bg-card {
  background-image: image-url("04-polish-wood.png");
}

.bg-info { 
 height: auto;
}

.text-name {
  font-size: 3vw;
}

.circle-avatar-sm img {
  width: 100px;
  height: 100px;
  border-radius: 70%;
}

.card-name{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}