.container{
   height: 100%;
}
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body{
  
}

.body{
  padding-top: 54px;
}

.jumbotron{
  background-image: image-url("chalkboard-green-pattern-01.jpg");
  background-size: cover;
  background-position: center 60%;
  color: FFF;
}

.circle-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  object-fit: cover;
}

.card-img-top {
  padding-top:  10px;
  padding-left: 60px;
}

.avatar{
  width: 180px;
  height: 180px;
  border-radius: 70%;
}

.bg {
  background-color: #FFFDD0;
}

.bg-info { 
 height: auto;
}

