// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body{
  
}

.body{
  padding-top: 54px;
}

.jumbotron{
  background-image: url("<%= asset-path("social-media-3846597_1280") %>");
  background-size: cover;
  background-position: center 60%;
}

