<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <%= link_to "Coaching", root_path, class: "navbar-brand text-white" %>
    <span class="navbar-text">お問い合わせ</span>
  </nav>
</footer>
