<footer>
  <nav class="navbar fixed-bottom navbar-dark nav-color">
    <%= link_to "Coaching", root_path, class: "navbar-brand text-white" %>
    <span class="navbar-text"><%= link_to "お問い合わせ", contacts_path, class: "navbar-text" %></span>
  </nav>
</footer>
